%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% == Erlang Compiler ==

%% Erlang compiler options
{erl_opts, [ warn_unused_vars
           , warn_export_all
           , warn_shadow_vars
           , warn_unused_import
           , warn_unused_function
           , warn_bif_clash
           , warn_unused_record
           , warn_deprecated_function
           , warn_obsolete_guard
           , strict_validation
           , warn_export_vars
           , warn_exported_vars
           , warn_untyped_record
           , debug_info]}.

%% == Dependencies ==

{deps, [ {cowboy, "2.4.0"}
       , lasse
       ]}.

%% == Release ==

{relx, [ {release, {ping_pong, "0.1.0"}, [ping_pong]}
       , {sys_config, "./rel/sys.config"}
       , {extended_start_script, true}
       ]
}.
